@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #242424;
  --border: #2e303a;
  --code-bg: #1f2028;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: 'Inter', Roboto, sans-serif;
  --heading: 'Inter', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --orange: #ffa94d;
  --orangeDark: #ee892a;
  --orangeDarker: #cb7423;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #4d4d4d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#social .button-icon {
  filter: invert(1) brightness(2);
}

html {
  scroll-behavior: smooth;

}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  letter-spacing: -1.68px;
  color: var(--text-h);
}

h2 {
  font-size: 42px;
  line-height: 118%;
  letter-spacing: 2px;
  margin: 0 0 8px;
  color: var(--orange);
  text-transform: uppercase;
  font-weight: 600;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}